<style>
  .title-name {
    font-family: 'Whisper', cursive;
    font-size: 2rem;
    margin-left: 40px;
  }

  .nav-item {
    margin-right: 50px;
  }

  .navbar {
    background: transparent !important;
    transition: transform all ease-in-out 1s;
  }

  li {
    display: table-cell;
    position: relative;
  }

  .hov {
    font-family: 'Quicksand', sans-serif;
  }

  .hov:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: rgb(242, 35, 35);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .nav-item:hover {
    background-color: rgb(242, 35, 35);
    border-radius: 5px;
  }
  .nav-2-item:hover{
    background-color: rgb(242, 35, 35);
    border-radius: 5px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .nav-2 {
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    display: none;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: transparent !important;
  }
  .nav-2-item{
    padding: 5px;
  }
  @media (max-width : 1000px) {
    .nav-2{
      display: flex;
      font-size: 0.9rem;
    }
  }
  .nav-hidden{
    transform: translateY(-50px);
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand title-name" href="/">// Portfolio //</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link active hov" aria-current="page" href="#home-id">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hov" href="#about-id">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hov" href="#service-id">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hov" href="#project-id">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hov" href="#contact-id">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-2">
    <li class="nav-2-item">
      <a class="nav-link active hov" aria-current="page" href="#home-id">Home</a>
    </li>
    <li class="nav-2-item">
      <a class="nav-link active hov" href="#about-id">About</a>
    </li>
    <li class="nav-2-item">
      <a class="nav-link active hov" href="#service-id">Services</a>
    </li>
    <li class="nav-2-item">
      <a class="nav-link active hov" href="#project-id">Projects</a>
    </li>
    <li class="nav-2-item">
      <a class="nav-link active hov" href="#contact-id">Contact</a>
    </li>
  </div>
</nav>

<script>
   const nav = document.querySelector('.navbar'); // Use querySelector to get the first 'nav' element
let lastScrollY = window.scrollY;
         
window.addEventListener("scroll", () => {
    if (lastScrollY < window.scrollY) {
      // console.log(nav.classList);
        nav.classList.add('nav-hidden');

        // console.log(`we are going down : ${window.scrollY}`);
    } else {
        nav.classList.remove('nav-hidden');
        // console.log(`we are going up : ${window.scrollY}`);
    }
    lastScrollY = window.scrollY;
});

</script>