<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Zeyada&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Rock+Salt&display=swap" rel="stylesheet">
<% layout('/layouts/boilerplate.ejs') %>
    <style>
        .home-section {
            height: 89vh;
            width: 100%;
            background-color: black;
            color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .name {
            font-family: 'Cinzel Decorative', serif;
            font-size: 5rem;
            text-shadow: 1px 1px 2px rgb(253, 218, 218), 0 0 1em rgb(255, 26, 1), 0 0 0.2em rgb(255, 1, 1);
            color: #fff;
            letter-spacing: 5px;
            margin-bottom: 25px;
        }

        .home-para {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .head-line {
            font-family: 'Rubik Doodle Shadow', system-ui;
            font-family: 'Zeyada', cursive;
        }

        .btn {
            margin-left: 10px;
            background-color: #092635;
            /* background-color: #31304D; */
            color: white;
        }

        .btn:hover {
            margin-left: 10px;
            background-color: #092635;
            /* background-color: #31304D; */
            color: white;
        }

        .about-section {
            background-color: #242424;
            height: 100vh;
            width: 100%;
        }

        .about-me {
            width: 60%;
            color: white;
            font-size: 1.5rem;
            font-family: 'Quicksand', sans-serif;
        }

        .skills {
            width: 40%;
            color: white;
            font-family: 'Quicksand', sans-serif;
        }

        .about-heading {
            width: 100%;
        }

        .about-heading h1 {
            color: white;
            font-size: 4rem;
            font-family: 'Quicksand', sans-serif;
        }

        .line {
            /* height: 70%; */
            width: 1px;
            background-color: #fff;
            margin-top: 20px;
        }

        .about-main {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .skills h4 {
            text-align: center;
            margin-top: 15px;
        }

        .button-set {
            display: flex;
            flex-wrap: wrap;
        }

        .btn:hover {
            border: 1px solid white;
            background-color: black;
        }

        .services-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
        }

        .service-headline {
            color: white;
            font-family: 'Quicksand', sans-serif;
        }

        .services-section h1 {
            color: white;
            font-size: 4rem;
            font-family: 'Quicksand', sans-serif;
        }

        .services-section h5 {
            color: white;
            font-size: 1rem;
            margin-bottom: 10px;
            font-family: 'Quicksand', sans-serif;
        }

        .card-text {
            font-family: 'Quicksand', sans-serif;
        }

        .card-title {
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
        }

        .card-set {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-evenly;
            margin-top: 50px;
            /* margin-bottom: 20px; */
        }

        .card-body {
            padding: 10px;
        }

        .card:hover {
            border: 3px solid rgb(242, 35, 35);
            border-style: solid;
            cursor: pointer;

        }

        .card {
            background-color: #242424;
            color: white;
            padding: 30px;
            margin-top: 20px;
            border: 1px solid rgb(242, 35, 35);
            ;
        }

        .services-section {
            height: 80vh;
        }

        .project-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
        }

        .projects-headline {
            text-align: center;
            font-family: 'Quicksand', sans-serif;
            font-size: 4rem;
            color: white;
            margin-bottom: 20px;
            margin-top: 25px;
        }

        .project-card-set {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            padding: 40px;
        }

        .p-card {
            padding: 10px;
            margin: 20px;
        }

        .contact-section {
            height: 100vh;
            background-color: #242424;
            color: white;
            padding: 20px;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            flex-direction: column;
            padding-bottom: 50px;

        }

        .contact-heading {
            font-size: 4rem;
            font-family: 'Quicksand', sans-serif;
            color: white;
            margin-bottom: 30px;
            margin-top: 25px;
            text-align: center;
        }

        .form-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .para {
            font-size: 1rem;
            font-family: 'Quicksand', sans-serif;
            color: white;
            text-align: center;
        }

        .service-card {
            border: 1px solid rgb(242, 35, 35);

            transition: all 0.5s;

        }

        .service-card:hover {
            transform: translateY(-20px);
        }

        .btn {
            border: 1px solid rgb(242, 35, 35) !important;
        }


        /* code for the text animation */
        .wrapper2 {
            box-sizing: content-box;
            background-color: #242424;
            height: 8rem;
            width: 80%;
            padding: 50px 30px;
            margin: 0px auto 20px auto;
            display: flex;
            border-radius: 8px;
            box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
        }

        .home-dev {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .words {
            overflow: hidden;
            box-sizing: border-box;
        }

        .wrapper2 p {
            font-family: 'Quicksand', sans-serif;
            font-size: 3rem;
            font-weight: 500;
        }

        .words span {
            display: block;
            height: 100%;
            padding-left: 10px;
            color: rgb(242, 35, 35);
            animation: spin_words 6s infinite;
            box-sizing: border-box;
            font-family: 'Quicksand', sans-serif;
            font-size: 3rem;
            font-weight: 500;
        }
        .btn-download{
            margin-left: 45px;
        }
        .btn-download:hover{      
            margin-left: 45px;
        }
        .name span{
            margin-left: 25px;
        }

        @keyframes spin_words {
            10% {
                transform: translateY(-112%);
            }

            25% {
                transform: translateY(-100%);
            }

            35% {
                transform: translateY(-212%);
            }

            50% {
                transform: translateY(-200%);
            }

            60% {
                transform: translateY(-312%);
            }

            75% {
                transform: translateY(-300%);
            }

            85% {
                transform: translateY(-412%);
            }

            100% {
                transform: translateY(-400%);
            }
        }

        @media (max-width : 1000px) {
            .line {
                display: none;
            }

            .home-section {
                flex-direction: column;
            }

            .about-main {
                display: flex;
                flex-direction: column;
                /* justify-content: center; */
                align-items: center;
            }

            .about-heading {
                text-align: center;
            }

            .button-set {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
            }

            .about-me {
                width: 100%;
            }

            .skills {
                width: 100%;
                padding: 5px;
            }

            .para {
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            .name {
                text-align: center;
                padding-left: 30px;
            }

            .home-section {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .about-section {
                height: fit-content;
            }


            .about-me p {
                /* text-overflow: ellipsis; */
                text-wrap: wrap;
                text-align: start;
            }

            .services-section {
                height: fit-content;
            }

            .card {
                height: fit-content !important;
                width: 100%;
                padding: 10px;
                margin: 10px;
            }

            .project-card-set {
                margin: 10px;
                padding: 10px;
            }

            .services-section {
                padding: 10px;
                margin: 10px;
            }

            .card-set {
                padding: 10px;
                margin: 10px;
            }

            .contact-section {
                width: 100% !important;
            }

            .contact-heading {
                width: 100%;
            }

            .form-div {
                width: 100% !important;
            }

            form {
                width: 100% !important;
            }

            .wrapper2 {
                width: 100%;
            }

            .home-dev {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .home-para {
                width: 100%;
            }

            .home-section {
                margin: 0%;
            }

        }

        /* flip card code */
        .flip-card {
            background-color: transparent;
            width: 26rem;
            height: 22rem;
            perspective: 1000px;
            /* Remove this if you don't want the 3D effect */
            font-family: 'Quicksand', sans-serif;
            cursor: pointer;
            margin-top: 50px;
            border-radius: 25px;
        }

        /* This container is needed to position the front and back side */
        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            border-radius: 25px;
        }

        /* Do an horizontal flip when you move the mouse over the flip box container */
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front img {
            height: 100%;
            border-radius: 25px;
        }

        /* Position the front and back side */
        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;
        }

        /* Style the front side (fallback if image is missing) */
        .flip-card-front {
            background-color: #bbb;
            color: black;
            border-radius: 25px;
        }

        .flip-card-front:hover {
            border: 1px solid rgb(242, 35, 35);
        }

        .flip-card-back:hover {
            border: 1px solid rgb(242, 35, 35);
        }

        /* Style the back side */
        .flip-card-back {
            background-color: #242424;
            color: white;
            transform: rotateY(180deg);
            border-radius: 25px;
            padding: 25px;
        }

        #msg {
            font-size: 1.3rem;
            font-family: 'Quicksand', sans-serif;
            color: rgb(242, 35, 35);
            display: block;
            text-align: center;
        }

        .about-me {
            margin-top: 10px;
            padding-top: 5px;
        }

        .my-img {
            display: flex;
            justify-content: center;
        }

        .my-img img {
            height: 12rem;
            width: 12rem;
            border-radius: 70%;
            opacity: 0.9;
        }
        
    </style>

    <body>

        <div class="home-section" id="home-id">
            <div class="home-dev container">
                <div class="wrapper2">
                    <p>I'm</p>
                    <div class="words">
                        <span> Developer</span>
                        <span> Frontend Developer</span>
                        <span> Backend Developer</span>
                        <span> Full Stack Developer</span>
                        <span> Learner</span>
                    </div>
                </div>
            </div>
            <div class="home-para">
                <div class="p-5">
                    <h2 class="head-line">WELCOME TO MY PORTFOLIO!</h2>
                    <h1 class="name mt-2 px-3 name-hov">Ritesh  <br> <span> Aldak </span> </h1>
                    <form action="/resume">
                       <a href="/assets/ritesh@resume.pdf" download class="btn btn-sm btn-danger btn-download">Download CV</a>
                    </form>
                </div>
            </div>

        </div>
        <div class="about-section p-2 pt-5" id="about-id">
            <div class="about-heading">
                <h1 class="offset-1">About Me</h1>
            </div>
            <div class="about-main">
                <div class="about-me p-4">
                    <div class="my-img"><img src="/assets/my_img2.jpg" alt=""></div>
                    <p>I'm a self-taught web developer. I like developing web apps and Problem solving. I develop the
                        different project on
                        both
                        front end and backend. Along with this, i write the blogs on the web technologies and also i
                        love to solve the problems on various coding platform. And whatever technologies i learn, i
                        always tries to explain it with the help of my blogs.

                        <br>
                        I'm very hard working and always looks for the opportunities and challenges.
                    </p>

                </div>
                <div class="line"></div>
                <div class="skills">
                    <h4><b>Technologies and Tools I have worked with:</b></h4>
                    <div class="button-set p-3">
                        <button class="btn btn-outline btn-danger m-4 skill-btn">HTML</button>
                        <button class="btn btn-outline btn-danger m-4">CSS</button>
                        <button class="btn btn-outline btn-danger m-4">JAVASCRIPT</button>
                        <button class="btn btn-outline btn-danger m-4">REACT</button>
                        <button class="btn btn-outline btn-danger m-4">EXPRESS</button>
                        <button class="btn btn-outline btn-danger m-4">MONGODB</button>
                        <button class="btn btn-outline btn-danger m-4">MySQL</button>
                        <button class="btn btn-outline btn-danger m-4">GIT</button>
                        <button class="btn btn-outline btn-danger m-4">TAILWIND CSS</button>
                        <button class="btn btn-outline btn-danger m-4">Bootstrap</button>
                        <button class="btn btn-outline btn-danger m-4">POSTMAN</button>
                        <button class="btn btn-outline btn-danger m-4">C++</button>
                        <button class="btn btn-outline btn-danger m-4">Data Structure and Algorithm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-section" id="service-id">
            <h1 class="service-headline">What I do</h1>
            <h5>I may not be perfect, but I'm surely of some help :)</h5>
            <div class="card-set">
                <div class="card service-card" style="width: 21rem;">
                    <div class="card-body">
                        <h5 class="card-title">Full Stack Web Developer</h5>
                        <p class="card-text">For now, i can only develop the web application by using MERN. I have
                            developed some major project and many minor project. I love to build the websites. </p>
                    </div>
                </div>
                <div class="card service-card" style="width: 21rem;">
                    <div class="card-body">
                        <h5 class="card-title">Problem Solver</h5>
                        <p class="card-text">I have good problem solving skill. I have been solving the problems on
                            various coding platforms for 1 year. I have solved the problems on the online coding
                            platform like Leetcode, GFG, Hackerrank, Codechef.</p>
                    </div>
                </div>
                <div class="card service-card" style="width:  21rem;">
                    <div class="card-body">
                        <h5 class="card-title">Technical Blog Writer</h5>
                        <p class="card-text">I have been writing the blog since couple of month. I write the blog on
                            medium. I love to explain all things that i have learnt. Mostly i write the blog on web
                            tools and technologies. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-section" id="project-id">
            <h1 class="projects-headline">Projects</h1>
            <div class="project-card-set">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/travel-stay.png" alt="..." class="card-img-top">
                        </div>
                        <div class="flip-card-back">
                            <h5 class="card-title">Travel Stay</h5>
                            <p class="card-text">This Application is developed using ejs template, Javascript, Express
                                and
                                Mongodb. In this application, user can create a list including image uploading, title ,
                                description, price, location etc. User can edit, delete the list. User able to write the
                                review for that list. and This application provide the authentication and authorization
                                which secure the website. This is developed on the MVC framework. </p>
                            <a href="https://github.com/RiteshAldak1302/Travel-Stay"
                                class="btn btn-primary btn-sm">Source
                                Code</a>
                            <a href="https://travel-stay.onrender.com/listing" class="btn btn-primary btn-sm">Visit
                                Site</a>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/text-utils.png" alt="..." class="card-img-top">
                        </div>
                        <div class="flip-card-back">
                            <h5 class="card-title">Text Utils</h5>
                            <p class="card-text">This Application is developed using ReactJs. In this application, user
                                can
                                manipulate the text like capitalizing , coping and removing extra spaces. This
                                application also has dark and light mode functionality. This application is only
                                developed on the ReactJS. </p>
                            <a href="https://github.com/RiteshAldak1302/Textutils-React"
                                class="btn btn-primary btn-sm">Source Code</a>
                            <a href="https://riteshaldak1302.github.io/Textutils-React/"
                                class="btn btn-primary btn-sm">Visit Site</a>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/responsive.png" alt="..." class="card-img-top">
                        </div>
                        <div class="flip-card-back">
                            <h5 class="card-title">To do list</h5>
                            <p class="card-text">This Application is developed using Html, CSS and Javascript. This website is responsive website. This application has clear UI and simple to use. I build this application for the learning perspective.</p>
                            <a href="https://github.com/RiteshAldak1302/first-responsive-website-"
                                class="btn btn-primary btn-sm">Source Code</a>
                                <a href="https://riteshaldak1302.github.io/first-responsive-website-/" class="btn btn-primary btn-sm">Visite</a>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/newsapp.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="flip-card-back">
                            <h5 class="card-title">News Hub</h5>
                            <p class="card-text">This Application is developed using ReactJs, Javascript and News API.
                                With the help of free news api it is fetching the news data. This application will
                                provide different news to the user and it also provide the news on the basis of
                                categories. </p>
                            <a href="https://github.com/RiteshAldak1302/newsApp" class="btn btn-primary btn-sm">Source
                                Code</a>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/weather.png" class="card-img-top" alt="...">
                        </div>
                        <div class="flip-card-back">
                            <h5 class="card-title">Weather App</h5>
                            <p class="card-text">This Application is developed using Html, CSS, weather api and
                                Javascript. with the help of free weather api it is fetching the weather data and
                                provide that data on the web page. This application give the real time weather
                                information of all the places. The UI of website the also nice and clear.
                            </p>
                            <a href="https://github.com/RiteshAldak1302/real_time_weather_app"
                                class="btn btn-primary btn-sm">Source
                                Code</a>
                        </div>
                    </div>
                </div>

            </div>
            <a class="btn btn-sm  btn-primary mb-4" href="https://github.com/RiteshAldak1302">Show more</a>
        </div>
        <div class="contact-section" id="contact-id">
            <div class="contact-heading">Contact</div>

            <div class="row form-div">
                <p class="para">If you want to know more about me or my work, or if you would just like to say hello,
                    send me a message. I'd love to hear from you.</p>
                <form name="submit-to-google-sheet" action="/" class="col-8 needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="exampleInputName1" class="form-label">Name</label>
                        <input name="Name" type="text" class="form-control" id="exampleInputName1">
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input name="Email" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div class="invalid-feedback">Please write the email!</div>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Message</label>
                        <textarea name="Message" class="form-control" cols="40" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>

                    <span id="msg"></span>
                </form>
            </div>
        </div>
        <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbzLVQVjXOrRZyX4ksgEiyPrpnPHzRhrjrETsK2n-fTOImdQvuL-RhoOB94wc25wb20X/exec'
            const form = document.forms['submit-to-google-sheet']
            const msg = document.getElementById('msg')
            form.addEventListener('submit', e => {
                e.preventDefault()
                fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                    .then(response => {
                        msg.innerHTML = 'Message sent successfully!'
                        setTimeout(() => {
                            msg.innerHTML = ""
                        }, 4000);
                        form.reset();
                    })
                    .catch(error => console.error('Error!', error.message))
            })
        </script>
    </body>