<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="" alt="">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="main">
                <div class="main-text">
                    <div class="para">
                        <h2>Hi, I'm <span>Ritesh Aldak</span></h2>
                        <p>Web Developer Enthusias</p>
                    </div>
                    <div class="cv">
                        <button class="cv-btn">
                            Download CV
                        </button>
                    </div>
                </div>
                <div class="main-img"></div>
            </div>
        </div>
    </div>
    <div class="skills-section">

    </div>
</body>

</html>